// Various colors
$body-background: #141414
$search-text: #eeeeee
$search-background: #333333


// Item colors
$unarmed: #FFF6C6
$light_melee: #A4EAB8
$one-handed: #73AFEF
$two-handed: #E58B8B
$ranged: #E0BADE
$ammunition: lighten($ranged, 10%)